
.house {
    min-height: calc((var(--vh, 1vh) * 100 - var(--hh))/2);
    padding-top: 1rem;
    // text-shadow: 0px 0px 3px rgb(251, 60, 92);
    a {
        text-decoration: none;
        color: rgb(236, 213, 172);
        text-shadow: 1px 1px 1px rgb(251, 60, 92);
        
    }
    :hover {
        color: white;
    }
}

.house__img {
    width: 300px;
    height: 200px;
    border-radius: 7px;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 10px white;
}

.house__permalink {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.house__content {
    display: none;
    font-size: 1rem;

}

.house__contentwrap {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
}


@media (orientation: portrait) and (min-width: 480px) {
    .house__img {
        width: 400px;
        height: 260px;
    }
    .house__title {
        font-size: 1.5rem;
    }
}

@media (orientation: portrait) and (min-width: 576px) {

}

@media (orientation: portrait) and (min-width: 768px) {
    .house {
        min-height: calc((var(--vh, 1vh) * 100 - var(--hh))/3);
    }
}

@media (orientation: portrait) and (min-width: 992px) {
    .house__img {
        width: 600px;
        height: 400px;
    }
}


@media (orientation: portrait) and (min-width: 1200px) {
    .house__content {
        display: block;
    }
}

@media (orientation: landscape) {
    .house__img {
        width: 200px;
        height: 140px;
    }
    .house__content {
        display: block;
        width: 50%;
        padding: 1rem;
    }
    .house {
        min-height: calc((var(--vh, 1vh) * 100 - var(--hh)));
    }
}


@media (orientation: landscape) and (min-height: 480px) {
    .house {
       min-height: calc((var(--vh, 1vh) * 100 - var(--hh))/2);
    }
}

@media (orientation: landscape) and (min-height: 480px) {
    .house__img {
        width: 300px;
        height: 200px;
    }
}


@media (orientation: landscape) and (min-height: 768px) {
    .house__img {
        width: 300px;
        height: 200px;
    }
    .house {
        min-height: calc((var(--vh, 1vh) * 100 - var(--hh))/3);
    }
}
















